<div class="card card-register mx-auto mt-5">
    <div class="card-header">Crear Usuario</div>
    <div class="card-body">
        <form (submit)="create($event);">
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-12">
                        <label>Nombre Completo</label>
                        <input [(ngModel)]="user.name" name="name" class="form-control" type="text" aria-describedby="nameHelp" placeholder="Nombre Completo">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Correo Electronico</label>
                <input [(ngModel)]="user.email" name="email" class="form-control" type="email" aria-describedby="emailHelp" placeholder="Correo Electronico">
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <label>Password</label>
                        <input [(ngModel)]="user.password" name="password" class="form-control" type="password" placeholder="Contraseña">
                    </div>
                    <div class="col-md-6">
                        <label>Confirmar password</label>
                        <input [(ngModel)]="user.passwordR" name="passwordR" class="form-control" type="password" placeholder="Repite Contraseña">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success btn-block" >Registrar</button>
            <button type="button" class="btn btn-info btn-block" [routerLink]="['/login']">Login</button>
        </form>
    </div>
</div>
